<h1>Editing movie character</h1>

<%= render "form", movie_character: @movie_character %>

<br>

<div>
  <%= link_to "Show this movie character", @movie_character %> |
  <%= link_to "Back to movie characters", movie_characters_path %>
</div>
