<div id="<%= dom_id actor %>">
  <p>
    <strong>Name:</strong>
    <%= actor.name %>
  </p>

  <p>
    <strong>Wikipedia url:</strong>
    <%= actor.wikipedia_url %>
  </p>

  <p>
    <strong>Movie character:</strong>
    <%= actor.movie_character_id %>
  </p>

</div>
