<div id="<%= dom_id birth %>">
  <p>
    <strong>Year:</strong>
    <%= birth.year %>
  </p>

  <p>
    <strong>Era:</strong>
    <%= birth.era_id %>
  </p>

  <p>
    <strong>Movie character:</strong>
    <%= birth.movie_character_id %>
  </p>

</div>
