<p style="color: green"><%= notice %></p>

<h1>Eras</h1>

<div id="eras">
  <% @eras.each do |era| %>
    <%= render era %>
    <p>
      <%= link_to "Show this era", era %>
    </p>
  <% end %>
</div>

<%= link_to "New era", new_era_path %>
