<h1>Editing appearance extended</h1>

<%= render "form", appearance_extended: @appearance_extended %>

<br>

<div>
  <%= link_to "Show this appearance extended", @appearance_extended %> |
  <%= link_to "Back to appearance extendeds", appearance_extendeds_path %>
</div>
