<h1>Editing appearance theatrical</h1>

<%= render "form", appearance_theatrical: @appearance_theatrical %>

<br>

<div>
  <%= link_to "Show this appearance theatrical", @appearance_theatrical %> |
  <%= link_to "Back to appearance theatricals", appearance_theatricals_path %>
</div>
