<h1>New appearance theatrical</h1>

<%= render "form", appearance_theatrical: @appearance_theatrical %>

<br>

<div>
  <%= link_to "Back to appearance theatricals", appearance_theatricals_path %>
</div>
